<!--Extends The Base Template-->
{% extends 'base.html' %}

<!--Page Title Block Starts-->
{% block title %}Login{% endblock title %}
<!--Page Title Block Ends-->

<!--Content Block Starts-->
{% block content %}
<div class="container">
<header class="pb-3 mb-4 border-bottom">
    <div class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4 mt-3">Enter Your New Password </span>
    </div>
  </header>
</div>

<br>
<div class="container">
<form method="post">
    {% csrf_token %}
    <b>{{ form }}</b>
    <br>
    <button type="submit"class="btn btn-primary mt-3 mb-3">Submit</button>
</form>
</div>

{% endblock content %}
<!--Content Block Ends-->
