<!--Extends The Base Template-->
{% extends 'base.html' %}

<!--Page Title Block Starts-->
{% block title %}Login{% endblock title %}
<!--Page Title Block Ends-->

<!--Content Block Starts-->
{% block content %}

<div class="container">
<header class="pb-3 mb-4 mt-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4">Reset Password</span>
    </a>
  </header>

  <div class="p-2 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">We've emailed you instructions for setting your password.</h1>
      <p class="col-md-8 fs-4">If you don't receive an email, please make sure you've entered the
        address you registered with.</p>
      <a href="{% url 'login' %}"><button class="btn btn-primary" type="button">Login</button></a>
    </div>
  </div>
</div>

{% endblock content %}
<!--Content Block Ends-->
