<!--Extends The Base Template-->
{% extends 'base.html' %}

<!--Page Title Block Starts-->
{% block title %}Login{% endblock title %}
<!--Page Title Block Ends-->

<!--Content Block Starts-->
{% block content %}

<div class="p-2 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 col-6">
      <h1 class="display-5 fw-bold">Your Password Has Been Changed<h1>
      <p class="col-md-8 fs-4">Try With New Password , Login again !</p>
      <a href="{% url 'login' %}"><button class="btn btn-primary" type="button">Login</button></a>
    </div>
  </div>

{% endblock content %}
<!--Content Block Ends-->
