<!--Extends The Base Template-->
{% extends 'base.html' %}

<!--Page Title Block Starts-->
{% block title %}Login{% endblock title %}
<!--Page Title Block Ends-->

<!--Content Block Starts-->
{% block content %}
<div class="container col-4 my-5 "style="box-shadow: black 2px 2px 2px 2px;">

    <header class="pb-3 mb-4 border-bottom">
        <div class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4 mt-3">Reset Your Password </span>
        </div>
      </header>

<form method="post" class="col-6" >
    {% csrf_token %}
    <b>{{ form }}</b>
    <br>
    <button type="submit" class="btn btn-primary mt-3 mb-3">Reset password</button>
</form>

</div>

{% endblock content %}
<!--Content Block Ends-->
